<div class="bottom">
    <div class="bottom__container">
        <div class="bottom__body flex">
            <div class="text">
                <p class="title">Watch the videos and <span>get the boxes</span></p>
                <p class="subtitle">While watching the feed you can get boxes <br> with NFT or LEE tokens</p>
            </div>
            <div class="img">
                <img src="../../img/whatBox.png" alt="">
            </div>
        </div>

        <div class="buy__block flex">
            <div class="text">
                Don’t miss the <span>Presale</span>
            </div>
            <button>
                Buy NFT glasses
            </button>
        </div>
    </div>
</div>