<div class="mission">
  <div class="mission__container">
    <div class="mission__body">
      <div class="text flex">
        <p class="title"><span>Cheelee’s</span> mission</p>
        <div class="flex subtitle">
          <p>
            Users spend an average of 2.5 hours daily on social networks and get
            nothing fоr it. We believe that this is unfair
          </p>
          <p>
            <span>Our mission</span> is to provide everyone with the opportunity
            to monetize time in social networks
          </p>
        </div>
        <p class="titleT">
          <span>Cheelee</span> works within the "Attention Economy" framework
        </p>
        <div class="flex subtitle tw">
          <p>
            Other social media consider a user as an information and advertising
            influence target,
            <span>
              but a Cheelee user is a full system member, partner and
              beneficiary
            </span>
            <br />
            <br>
            <span>The Attention Economy</span> sees human attention as a scarce
            commodity making it a new oil! The founder of this concept is the
            Nobel laureate Herbert Simon
          </p>
          <p>
            The main idea is that attention is converted into income with
            digital platforms. You pay your attention to what you want, and get
            paid for it. Your attention has a certain cost. <br />
            <br>
            Through the GameFi mechanics, Cheelee’s users earn together with the
            platform by converting their attention into money
          </p>
        </div>
      </div>
      <div class="steps">
        <ul>
          <li class="item">
            <div class="item__num">1</div>
            <div class="item__text">Sign-up and get your <span>free NFT glasses</span></div>
          </li>
          <li class="item">
            <div class="item__num">2</div>
            <div class="item__text">
              Watch the feed and get the boxes <span>with LEE tokens</span>
            </div>
          </li>
          <li class="item">
            <div class="item__num">3</div>
            <div class="item__text">
              <p class="title">
                Buy your NFT glasses and <span>get LEE tokens</span> directly when watching
                the feed
              </p>
              <p class="subtitle">
                The higher the rarityof your NFT glasses, the more points you
                get when leveling them up – the more tokens you can earn
              </p>
            </div>
          </li>
          <li class="item">
            <div class="item__num">4</div>
            <div class="item__text">Upgrade your <span>NFT glasses</span></div>
          </li>
          <li class="item">
            <div class="item__num">5</div>
            <div class="item__text">
              <p class="title">
                <span>Buy additional NFT glasses</span> to increase the amount of Attention
                and rewarded time of watching the feed
              </p>
              <p class="subtitle">
                1 Attention = <span>10 minutes</span> of rewarded feed viewing
              </p>
            </div>
          </li>
        </ul>
        <li class="imgItem">
          <img src="../../img/missBg.png" alt="" />
        </li>
      </div>
    </div>
  </div>
</div>
