//====================================================================================================
.footer {
  overflow: hidden;
  opacity: 0;
  transform: translateY(20px);
  transition:
    opacity 0.7s,
    transform 0.7s;
  &.visible {
    opacity: 1;
    transform: translateY(0);
  }
  .footer__body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 775px;
    height: 100%;

    .text {
      @include adaptiveValue("height", 775, 200);
      z-index: 9;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;
      max-width: 365px;
      span{
        color: rgba(1, 255, 194, 1);
      }
      p {
        font-size: 26px;
        font-weight: 700;
        line-height: 38px;
      }
      .subtitle {
        font-family: "Montserrat";
        font-size: 18px;
        font-weight: 400;
        line-height: 33px;
      }
    }
    .img {
      position: absolute;
      top: -47px;
      right: -80px;
      @include adaptiveValue("top", 1, -47, 0);

      img {
        @include adaptiveValue("width", 1088, 300);
        max-width: 1088px;
        max-height: 822px;
        height: 100%;
      }
    }
    @media (max-width: 800px) {
      flex-direction: column-reverse;
      align-items: center;
      .img {
        position: static;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .text {
        height: 100%;
        margin-bottom: 30px;
      }
    }
  }
}
//====================================================================================================
