.preview {
  background-image: url("../img/previBg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 907px;
  &__container {
    .preview__body {
      padding-top: 200px;
      justify-content: space-between;
      align-items: center;

      .preview__text {
        font-size: 56px;
        font-weight: 900;
        line-height: 68px;
        .bg {
          color: #01ffc2;
        }
        .sm {
          font-size: 26px;
          font-weight: 700;
          line-height: 38px;
        }

        .text__link {
          margin-top: 160px;
          button {
            width: 64px;
            height: 64px;

            border-radius: 50%;
            background: rgba(113, 86, 253, 0.2);
            display: flex;
            justify-content: center;
            align-items: center;

            margin-bottom: 10px;
          }
          font-size: 20px;
          font-weight: 700;
          line-height: 28px;
        }
      }
      .preview__link {
        ul {
          display: flex;
          flex-direction: column;
          gap: 20px;
          button {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 64px;
            height: 64px;
            border-radius: 50%;
            background: rgba(113, 86, 253, 0.2);
            transition: 0.7s;
            z-index: 0;
            &:hover {
              svg {
                path {
                  fill: rgba(114, 86, 253, 0.805);
                }
              }
              background: rgba(1, 255, 194, 1);
            }
          }
        }
      }
    }
  }
}
